<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BaharNarenjERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BaharNarenjERP.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>192.168.16.250</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>apps</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>baharerp</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>صنایع چوبی بهارنارنج</value>
            </setting>
            <setting name="EndNote" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeServer" serializeAs="String">
                <value>1.ir.pool.ntp.org</value>
            </setting>
            <setting name="TimeZoneHour" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TimeZoneMinute" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DeliveryDifference" serializeAs="String">
                <value>14</value>
            </setting>
        </BaharNarenjERP.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
